@font-face {
  font-family: 'iconfont';
  src: url('iconfont.ttf') format('truetype');
  src: url('iconfont.woff2') format('woff2');
}

.icon-external:before {
  content: "\e622";
}

.icon-win10:before {
  content: "\e64a";
}

.icon-codebase:before {
  content: "\e60e";
}

.icon-branch:before {
  content: "\e993";
}

.icon-flight:before {
  content: "\e9d7";
}

.icon-chemical:before {
  content: "\e653";
}

.icon-win11:before {
  content: "\e64c";
}

.icon-server:before {
  content: "\e643";
}

.icon-azure:before {
  content: "\e618";
}

.icon-iso:before {
  content: "\e64b";
}