@font-face {
  font-family: 'iconfont';
  src: url('iconfont.ttf') format('truetype');
  src: url('iconfont.woff2') format('woff2');
}

.icon-external::before {
  content: "\e622";
}

// 主页列表
.icon-win10::before {
  content: "\e64a";
}
.icon-code::before {
  content: "\e60e";
}
.icon-branch::before {
  content: "\e993";
}
.icon-flight::before {
  content: "\e9d7";
}
.icon-chemical::before {
  content: "\e653";
}
.icon-win11::before {
  content: "\e64c";
}
.icon-server::before {
  content: "\e643";
}
.icon-azure::before {
  content: "\e618";
}
.icon-iso::before {
  content: "\e64b";
}

// 关于&列表页
.icon-tag::before {
  content: "\e63d";
}
.icon-left::before {
  content: "\e796";
}
.icon-right::after {
  content: "\e797";
  margin-left: .4em;
}
.icon-time::before {
  content: "\e6cf";
}
.icon-version::before {
  content: "\e610";
}
.icon-github::before {
  content: "\e673";
}
.icon-vuejs::before {
  content: "\ec2c";
}
.icon-fluent::before {
  content: "\ed50";
}

// 底部导航栏
.icon-home::before {
  content: "\e656";
}
.icon-list::before {
  content: "\e668";
}
.icon-about::before {
  content: "\e619";
}