@charset 'utf-8';
/* 此样式表用于全局的颜色设定
 * Date: 2023-09-01 / Version: 1.1.0 / Author: crrashh1542
 */

// 主题颜色
@wu-color-theme: #5296ff;
@wu-color-theme-dark: #3c61a2;
@wu-color-theme-darker: #314a77;
@wu-color-theme-light: #9ab7ff;
@wu-color-theme-lighter: #e8edff;

// 其它颜色，部分借鉴自 Material Design 设计指南
@wu-color-amber: #ffc107;
@wu-color-orange: #ff5722;
@wu-color-green: #8bc94a;
@wu-color-teal: #00897b;
@wu-color-purple: #7e57c2;
@wu-color-text-imp: #303030;
@wu-color-text-accent: #5f5f5f;