@charset 'utf-8';
/* 此样式表用于全局的变量设定
 * Date: 2023-08-19 / Version: 0.4.0 / Author: crrashh1542
 */

// 字体
@wu-font-family: 'Google Sans', 'PingFang SC', 'iconfont';
@wu-font-banner-title-weight: 600;

// 主题颜色
@wu-color-theme: #7986cb;
@wu-color-theme-dark: #5c6bc0;
@wu-color-theme-darker: #434a71;
@wu-color-theme-light: #b5bce2;
@wu-color-theme-lighter: #e9eaf6;

// 其它颜色
@wu-color-nav: rgba(233, 234, 246, .8); // 从 --wu-color-theme-lighter 转化而来
@wu-color-nav-link: #666;
@wu-color-link-icon: #bbb;