@charset 'utf-8';
/* 此样式表用于全局的变量设定
 * Date: 2023-08-20 / Version: 0.4.1 / Author: crrashh1542
 */

// 字体
@wu-font-family: 'Google Sans', 'PingFang SC', 'iconfont';
@wu-font-catalog-size: 24px;
@wu-font-catalog-weight: 400;

// 颜色
@import url('./color.less'); // 主题颜色
@wu-color-nav: rgba(232, 237, 255, .8);
@wu-color-nav-link: #666;
@wu-color-link-icon: #bbb;
@wu-color-split-line: #e2e2e2;
@wu-color-catalog: #333;

// 布局
@wu-layout-nav-height: 64px;