/* 此样式表用于基础初始化
 * Date: 2023-08-20 / Version: 1.0.0
 */

// 引入字体
@import url('https://s.cdn.crrashh.com/prod/font/PingFang-SC-CN/3d9318c6-548c-4982-a591-4a25c3f9d5d4/index.css');
@import url('https://s.cdn.crrashh.com/prod/font/Google-Sans/16a171a7-267e-4e9a-a222-4a1b493ce28a/index.css');
@import url('../fonts/iconfont/iconfont.less');

@import url('./global.less');

/* 初始化 -------- BEGIN */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-size: cover;
    background-image: url('../images/bg.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 100%;
    font-family: @wu-font-family;
    div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
    label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, 
    hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    .icon {
        color: #000;
    }

    /* a标签图标及hover处理 */
    .appbar a::after, .footer a::after {
        color: @wu-color-nav-link;
        font-size: 15px;
        vertical-align: middle;
        text-align: center;
        margin-left: .3em;
        display: inline-block;
        content: '\e622';
    }
    .appbar a:hover, .footer a:hover {
        color: @wu-color-theme !important;
    }
    .appbar a:hover::after, .footer a:hover::after {
        color: @wu-color-theme;
     }
    /* 滚动条 */
    ::-webkit-scrollbar, ::-webkit-scrollbar-button, 
    ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, 
    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner, 
    ::-webkit-resizer {
        display: none;
    }

}
/* 初始化 -------- END */

@font-face {
    font-family: 'iconfont';  /* Project id 3626945 */
    src: url('../fonts/iconfont/iconfont.woff2') format('woff2'),
         url('../fonts/iconfont/iconfont.ttf') format('ttf')
}